<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
          <h1 class="navbar-brand">BitCoin</h1>  
    </div>
</nav>
<div  class="container pt-4">
    <div class="row">
        <div  class="card mt-3 col-lg-6">
            <div class="card-body">
                <p><b>Nombre: </b>{{Nombre1}}</p>
                <p><b>Moneda: </b>{{Moneda1}}</p>
                <p><b>Precio: </b>{{Precio1}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div  class="card mt-3 col-lg-6">
            <div class="card-body">
                <p><b>Nombre: </b>{{Nombre2}}</p>
                <p><b>Moneda: </b>{{Moneda2}}</p>
                <p><b>Precio: </b>{{Precio2}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div  class="card mt-3 col-lg-6">
            <div class="card-body">
                <p><b>Nombre: </b>{{Nombre3}}</p>
                <p><b>Moneda: </b>{{Moneda3}}</p>
                <p><b>Precio: </b>{{Precio3}}</p>
            </div>
        </div>
    </div>
</div>